.limitMain {
    width: 100%;
}

.moneyLimit {
    display: flex;
    align-items: flex-start;
    padding: 1.4em;
}
.moneyLimit h3 {
    margin: 0;
}
.moneyLimit input {
    padding: 0.4em;
}

.cancelButton {
    background: #ff3838;
}
.submitButton {
    background: #7eff7e;
}
.deleteLimitButton {
    background: #ffbc46;
}
