.blockMain {
    width: 100%;
}

.formMain div {
    display: flex;
    padding: 1.4em;
}

.formButtons, .extremeButtons {
    text-align: left;
}

.blockUsers {
    display: flex;
    align-items: flex-start;
}
.blockUsers h3 {
    margin: 0;
}

.usersDiv {
    display: flex;
    flex-direction: column;
}

.individualUser {
    display: flex;
}

button {
    padding: 0.5em;
    margin: 0.5em;
}
